@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    overflow: hidden;
}
  
.bg-image{
    background-image: url(/assets/about-shape.png);
    background-color: indigo;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    width: 90%;
    margin-left: 20px;
    ;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    @apply bg-cover;

}